<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="field">
      <%= form.label :서비스이름 %>
      <%= form.text_field :service_name %>
    </div>

    <div class="field">
      <%= form.label :가격 %>
      <%= form.number_field :price %>
    </div>

    <div class="field">
      <%= form.label :카테고리 %>
      <%= form.select(:category_id) do %>
          <%= options_from_collection_for_select(Category.all, :id, :category_name) %>
      <% end %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
